extends layout

block content
	p
		if !user
			a.btn.waves-effect.waves-light(href="/user/login")
				i.material-icons.left vpn_key
				| Login
			&nbsp;
			a.btn.waves-effect.waves-light(href="/user/register")
				i.material-icons.left perm_identity
				| Register
		else
			if user.role
				h3 Role
				p You have the role of #{user.role}.
			else
				h3 Role
				p You do not yet have a role assigned to you.
			p
				a(href="/user/list") List Users
			p
				a(href="/user/change-password") Change Password
			a.btn.waves-effect.waves-light(href="/user/logout")
				i.material-icons.left input
				| Logout