doctype html
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
	body
		.container
			include partials/flash
			h1= title
			block content

		script(src="//code.jquery.com/jquery-2.1.1.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")