doctype html
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
	body
		.container
			include partials/_navbar
			include partials/_flash
			h1= title
			block content

		script(src="//code.jquery.com/jquery-2.1.1.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
		script.
			$(function() {
				$('select').material_select();
			});
