extends ../layout

block content
	.row
		form(method="post").col.s12
			.row
				.input-field.col.s12.m6
					input(type="email", name="email", id="email", class="validate", required, autofocus)
					label(for="email") Email
				.input-field.col.s12.m6
					input(type="password", name="password", id="password", class="validate", required)
					label(for="password") Password
			.row
				p.col.s12
					a(href="/user/forgot-password") Forgot Password
			.row
				.input-field.col.s12
					include ../partials/_csrf-token
					button.btn.waves-effect.waves-light Submit
					a.btn-flat.waves-effect.waves-light(href="/") Cancel